.card-we {
  border-radius: 20px;
  background: #ffffff00;
  position: relative;
  width: 40%;
  padding-top: 0.9rem;
  padding-bottom: 2rem;
  border: 2px solid #f1e1b1;
  transition: 0.5s ease-out;
  overflow: visible;
  display: flex;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #3f2305;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(0, 0, 0);
  font-size: 17px;
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.card-we:hover {
  border-color: #dfd7bf;
  background-color: #f2ead3;
  color: #3f2305;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card-we:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
/* CARD DEVIN : */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Container(biar responsive) */
#container-card-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
  /* border: 5px solid black; */
}

/* Kartu General -----------------*/
.card {
  width: 270px;
  height: 420px;
  transition: 0.65s;
  box-sizing: border-box;
  border-radius: 5%;
  margin: 60px 30px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  background-color: #fdfdfd;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card2 {
  width: 270px;
  height: 420px;
  transition: 0.65s;
  box-sizing: border-box;
  border-radius: 5%;
  margin: 60px 30px;
  background-color: #f7f7f7;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.outterCircle {
  transition: 0.65s;
  width: 62.5%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
}

.innerCircle {
  transition: 0.65s;
  margin: auto;
  width: 88%;
  border: 5.5px solid #fff;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

h1 {
  transition: 0.5s;
  left: 0;
  right: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  color: #000;
}

p {
  transition: 0.5s;
  bottom: 10%;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 150%;
  color: #000;
}

/* Kartu (Spesifik) -----------------*/
#outterCircle1,
#innerCircle1 {
  background-color: #b8f9d3;
  box-shadow: 0 0 20px 0px rgba(184, 249, 211, 0.75);
}

#outterCircle2,
#innerCircle2 {
  background-color: #ffde79;
  box-shadow: 0 0 20px 0px rgba(255, 222, 121, 0.75);
}

#outterCircle3,
#innerCircle3 {
  background-color: #dce9ff;
  box-shadow: 0 0 20px 0px rgba(220, 233, 255, 0.75);
}

#outterCircle4,
#innerCircle4 {
  background-color: #ceb2fc;
  box-shadow: 0 0 20px 0px rgba(206, 178, 252, 0.75);
}

#outterCircle5,
#innerCircle5 {
  background-color: #ff7b7b;
  box-shadow: 0 0 20px 0px rgba(255, 88, 88, 0.75);
}

#outterCircle6,
#innerCircle6 {
  background-color: #c38154;
  box-shadow: 0 0 20px 0px rgba(195, 129, 84, 0.75);
}

/* Efek hover masing2 kartu */
#card1:hover {
  transform: scale(1.1) rotatez(5deg);
  background-color: #b8f9d3;
  box-shadow: 0 0 50px 10px rgba(184, 249, 211, 1);
}

#card2:hover {
  transform: scale(1.1) rotate(-5deg);
  background-color: #ffde79;
  box-shadow: 0 0 50px 10px rgba(255, 222, 121, 1);
}

#card3:hover {
  transform: scale(1.1) rotateZ(5deg);
  background-color: #dce9ff;
  box-shadow: 0 0 50px 10px rgba(220, 233, 255, 1);
}

#card4:hover {
  transform: scale(1.1) rotateZ(-5deg);
  background-color: #ceb2fc;
  box-shadow: 0 0 50px 10px rgba(206, 178, 252, 1);
}

#card5:hover {
  transform: scale(1.1) rotateZ(5deg);
  background-color: #ff7b7b;
  box-shadow: 0 0 50px 10px rgba(255, 88, 88, 1);
}

#card6:hover {
  transform: scale(1.1) rotateZ(-5deg);
  background-color: #c38154;
  box-shadow: 0 0 50px 10px rgba(195, 129, 84, 1);
}
