html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* Container(biar responsive) */
#container{
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	width: 92.5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: auto;
	/* border: 5px solid black; */
}






/* Kartu General -----------------*/
.card{
	width: 270px;
	height: 420px;
	transition: 0.65s;
	box-sizing: border-box;
	border-radius: 5%;
	margin: 60px 30px;
	box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.outterCircle{
	transition: 0.65s;
	width: 62.5%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	display: flex;
}

.innerCircle{
	transition: 0.65s;
	margin: auto;
	width: 88%;
	border: 5.5px solid #fff;
	aspect-ratio: 1/1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

a{
	text-decoration: none;
}

h1{
	transition: 0.5s;
	left: 0;
	right: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
	text-align: center;
	font-weight: 700;
	color: #000;
}

p{
	transition: 0.5s;
	bottom: 10%;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 13px;
	line-height: 150%;
	color: #000;
}





/* Kartu (Spesifik) -----------------*/
#outterCircle1, #innerCircle1{
	background-color: #B8F9D3;
	box-shadow: 0 0 20px 0px rgba(184, 249, 211, 0.75);
}

#outterCircle2, #innerCircle2{
	background-color: #ffde79;
	box-shadow: 0 0 20px 0px rgba(255, 222, 121, 0.75);
}

#outterCircle3, #innerCircle3{
	background-color: #DCE9FF;
	box-shadow: 0 0 20px 0px rgba(220, 233, 255, 0.75);
}

#outterCircle4, #innerCircle4{
	background-color: #CEB2FC;
	box-shadow: 0 0 20px 0px rgba(206, 178, 252, 0.75);
}

#outterCircle5, #innerCircle5{
	background-color: #ff7b7b;
	box-shadow: 0 0 20px 0px rgba(255, 88, 88, 0.75);
}

#outterCircle6, #innerCircle6{
	background-color: #C38154;
	box-shadow: 0 0 20px 0px rgba(195, 129, 84, 0.75);
}







/* Efek hover masing2 kartu */
#card1:hover{
	transform: scale(1.1) rotatez(5deg);
	background-color: #B8F9D3;
	box-shadow: 0 0 50px 10px rgba(184, 249, 211, 1);
}

#card2:hover{
	transform: scale(1.1) rotate(-5deg);
	background-color: #ffde79;
	box-shadow: 0 0 50px 10px rgba(255, 222, 121, 1);
}

#card3:hover{
	transform: scale(1.1) rotateZ(5deg);
	background-color: #DCE9FF;
	box-shadow: 0 0 50px 10px rgba(220, 233, 255, 1);
}

#card4:hover{
	transform: scale(1.1) rotateZ(-5deg);
	background-color: #CEB2FC;
	box-shadow: 0 0 50px 10px rgba(206, 178, 252, 1);
}

#card5:hover{
	transform: scale(1.1) rotateZ(5deg);
	background-color: #ff7b7b;
	box-shadow: 0 0 50px 10px rgba(255, 88, 88, 1);
}

#card6:hover{
	transform: scale(1.1) rotateZ(-5deg);
	background-color: #C38154;
	box-shadow: 0 0 50px 10px rgba(195, 129, 84, 1);
}
