/* CARD DEVIN : */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Container(biar responsive) */
#container-card-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  /* border: 5px solid black; */
}

/* Kartu General -----------------*/
.card {
  width: 270px;
  height: 420px;
  transition: 0.65s;
  box-sizing: border-box;
  border-radius: 5%;
  margin: 60px 30px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  background-color: #fdfdfd;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card2 {
  width: 270px;
  height: 420px;
  transition: 0.65s;
  box-sizing: border-box;
  border-radius: 5%;
  margin: 60px 30px;
  background-color: #f7f7f7;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.outterCircle {
  transition: 0.65s;
  width: 62.5%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
}

.innerCircle {
  transition: 0.65s;
  margin: auto;
  width: 88%;
  border: 5.5px solid #fff;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

/* Kartu (Spesifik) -----------------*/
#outterCircle1,
#innerCircle1 {
  background-color: #b8f9d3;
  box-shadow: 0 0 20px 0px rgba(184, 249, 211, 0.75);
}

#outterCircle2,
#innerCircle2 {
  background-color: #ffde79;
  box-shadow: 0 0 20px 0px rgba(255, 222, 121, 0.75);
}

#outterCircle3,
#innerCircle3 {
  background-color: #dce9ff;
  box-shadow: 0 0 20px 0px rgba(220, 233, 255, 0.75);
}

#outterCircle4,
#innerCircle4 {
  background-color: #ceb2fc;
  box-shadow: 0 0 20px 0px rgba(206, 178, 252, 0.75);
}

#outterCircle5,
#innerCircle5 {
  background-color: #ff7b7b;
  box-shadow: 0 0 20px 0px rgba(255, 88, 88, 0.75);
}

#outterCircle6,
#innerCircle6 {
  background-color: #c38154;
  box-shadow: 0 0 20px 0px rgba(195, 129, 84, 0.75);
}

/* Efek hover masing2 kartu */
#card1:hover {
  transform: scale(1.1) rotatez(5deg);
  background-color: #b8f9d3;
  box-shadow: 0 0 50px 10px rgba(184, 249, 211, 1);
}

#card2:hover {
  transform: scale(1.1) rotate(-5deg);
  background-color: #ffde79;
  box-shadow: 0 0 50px 10px rgba(255, 222, 121, 1);
}

#card3:hover {
  transform: scale(1.1) rotateZ(5deg);
  background-color: #dce9ff;
  box-shadow: 0 0 50px 10px rgba(220, 233, 255, 1);
}

#card4:hover {
  transform: scale(1.1) rotateZ(-5deg);
  background-color: #ceb2fc;
  box-shadow: 0 0 50px 10px rgba(206, 178, 252, 1);
}

#card5:hover {
  transform: scale(1.1) rotateZ(5deg);
  background-color: #ff7b7b;
  box-shadow: 0 0 50px 10px rgba(255, 88, 88, 1);
}

#card6:hover {
  transform: scale(1.1) rotateZ(-5deg);
  background-color: #c38154;
  box-shadow: 0 0 50px 10px rgba(195, 129, 84, 1);
}
