@media only screen and (max-width: 600px) {
  form input,
  form button {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 600px) {
  form input,
  form button {
    font-size: 2rem;
  }
}
header {
  font-size: 1.5rem;
  margin-top: 60px;
}
body {
  color: #000000;
  font-family: "Quicksand", sans-serif;
  background-color: #f2ead3;
}
.todo-inputs {
  border-radius: 20px;
}
header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  border: none;
  background: white;
  border: 3px solid #dfd7bf;
}

form button {
  width: 5rem;
  color: #3f2305;
  background: white;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

form button:hover {
  color: white;
  background: #3f2305;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  background: white;
  color: black;
  margin: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  color: white;
  background: #aa0e0e;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  padding: 1rem;
}
.complete-btn {
  background: rgb(83, 196, 83);
}
.fa-check,
.fa-trash {
  pointer-events: none;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
.todo-button {
  border-radius: 20px;
  margin-left: 10px;
}
