@media only screen and (max-width: 600px) {
  form input,
  form button {
    font-size: 20px;
  }
  .todo-inputs {
    font-size: 20px;
  }
  .trash-btn,
  .complete-btn {
    color: white;
    font-size: 5px;
    border-radius: 25px;
    padding: 1rem;
  }
  .todo {
    font-size: 15px;
  }
  .container-todo-all {
    width: 100%;
  }
  .todo-list {
    min-width: 0%;
    gap: 15px;
  }
}
@media only screen and (min-width: 600px) {
  form input,
  form button {
    font-size: 2rem;
  }
  .trash-btn,
  .complete-btn {
    color: white;
    font-size: 15px;
    border-radius: 25px;
    padding: 1rem;
  }
  .container-todo-all {
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
  }
  .todo-list {
    min-width: 120%;
    gap: 30px;
  }
}
header {
  font-size: 1.5rem;
}
body {
  color: #000000;
  font-family: "Quicksand", sans-serif;
  background-color: #f2ead3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo-inputs {
  border-radius: 20px;
}
.container-todo-all {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  border: none;
  background: white;
  border: 3px solid #dfd7bf;
}

form button {
  width: 5rem;
  color: #3f2305;
  background: white;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

form button:hover {
  color: white;
  background: #3f2305;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  display: flex;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
}
.todo {
  background: rgb(255, 255, 255);
  color: black;
  border: 3px solid #dfd7bf;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  color: white;
  background: #fa1d1d;
  cursor: pointer;
  border: none;
}
.complete-btn {
  background: #9cf000;
}
.fa-check,
.fa-trash {
  pointer-events: none;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.remove {
  opacity: 0;
}
.todo-button {
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
}
